*{
    font-family: sans-serif;
    color: whitesmoke;
    background-color: #01263f;
    font-size: large;
    /* margin-left: 0px !important; */
    

    
}
.navigation{
    font-size:larger;
    /* padding-left: 100px; */
    display : flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    border: 5px double;
    list-style: none;
    background-color:#01263f;
    gap: 30px;
    padding : 6px;
  
  }
  .none{
    list-style: none;
  }
  
  .nav{
    border : 1px solid white;
    color : green;
    padding : 2px;
    border-radius: 5px;
    background-color : antiquewhite
    /* border: 5px double;
    position:relative;
    bottom: 10px; */
  }
.information{
    display : flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    position: relative;
    padding-left: 20%;
}
.footer{
    display : flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    /* margin-right: 80%; */
}

a{
    color:gold;
    font-size: larger;
}


ol{
    list-style-type: decimal;
}


.fvideo{
    padding-left:8%;
}


.favactors{
    padding-left:500px;
    padding-top: 10px;
}


.table{
    padding-bottom: 20px;
    padding-top: 20px;
    
}


.emailForFooter{
    margin-top: -30px;
}
.iframe1{
    width: 950px;
    height:  500px;
}
/* Media query for screens between 768px and 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .iframe1{
        width: 550px;
        height:  400px;
    }
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 767px) {

    .information{
        
        position: relative;
        padding-left: 0%;
    }
    .fvideo{
        /* padding-left:7%; */
        position : relative;
        margin: 0 auto;
    }
    .iframe{
        /* box-sizing: border-box; */
        
        width: 350px;
        height:  300px;
    }
    .iframe1{
        width: 350px;
        height:  300px;
    }

    .table{
        
        margin-left:20%;
    }

    
}

